.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../public/assets/images/background.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  