.constellations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  cursor: pointer;
  column-gap: 50px;
  padding: 10px 20px;
  background-color: rgb(2, 2, 67);
}

.constellations-menu {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 20px;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: thin solid black;
  box-shadow: 4px 4px 8px grey;
}

.constellations-menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.constellations-menu:hover {
  transform: scale(1.1);
  animation: sparkle2 1.5s infinite;
}

@keyframes sparkle2 {
  0% {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5),
      0 0 10px rgba(255, 0, 0, 0.5),
      0 0 15px rgba(204, 0, 0, 0.5);
  }

  50% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 1),
      0 0 30px rgba(204, 0, 0, 1),
      0 0 40px rgba(204, 0, 0, 0.7);
  }

  100% {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5),
      0 0 10px rgba(255, 0, 0, 0.5),
      0 0 15px rgba(204, 0, 0, 0.5);
  }
}


.constellations-menu-details {
  margin-top: 20px;
  color: white;
}

.icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

.details-item {
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

.constellations-menu-details-content {
  column-count: 3;
  margin: 30px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.constellations-menu-details h2 {
  font-size: 2rem;
  color: #F2AA4C;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.constellations-video {
  height: auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 2px solid gray;
}

.constellations-video iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}


@media screen and (max-width: 992px) {
  .constellations-menu-details-content {
    column-count: 2;
    margin: 20px;

  }

  .constellations-menu {
    flex-wrap: wrap;
    margin-left: 35px;
    width: 200px;
    height: 200px;

  }

  .constellations-menu img {
    width: 100%;
    height: auto;
  }

  .constellations-video {
    height: auto;
    width: 100%;

  }
}


@media screen and (max-width: 600px) {
  .constellations-menu-details-content {
    column-count: 1;
    margin: 10px;

  }

  .constellations-menu {
    flex-wrap: wrap;
    margin-left: 35px;
    width: 350px;
    height: 350px;

  }

  .constellations-menu img {
    width: 100%;
    height: auto;
  }
}