 .home_banner {
     width: 100%;
     height: auto;
     overflow: hidden;
     position: relative;
 }

 .home_banner img {
     width: 100%;
     height: auto;
     object-fit: cover;
 }


 .prev,
 .next {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     border: none;
     cursor: pointer;
     padding: 10px;
     z-index: 10;
 }

 .prev {
     left: 10px;
 }

 .next {
     right: 10px;
 }


 @media (max-width: 768px) {
     .home_banner img {
         height: 400px;
     }

     .prev,
     .next {
         padding: 8px;
     }
 }

 @media (max-width: 480px) {
     .home_banner img {
         height: 300px;
     }

     .prev,
     .next {
         padding: 6px;
     }
 }