.library {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  text-align: center;
}

.library__header {
  font-size: 36px;
  margin-bottom: 30px;
}

.library__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.library__tab-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #f0f0f0;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.library__tab-button.active {
  background-color: #007bff;
  color: white;
}

.library__tab-button:hover {
  background-color: #007bff;
  color: white;
}

.library__content {
  margin-top: 20px;
}


.library__videos {
  text-align: left;
}

.library__video-iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  margin: 0 auto;
  display: block;
}


.library__books {
  text-align: left;
}

.library__book-list {
  list-style-type: none;
  padding: 0;
}

.library__book-item {
  padding: 10px 0;
  font-size: 18px;
}