.planets__sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  cursor: pointer;
}

.planets__menu-item {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}


.planets__menu-item img {
  width: 130%;
  height: 130%;
  object-fit: cover;
}

.planets__menu-item:hover {
  transform: scale(1.1);
  animation: sparkle1 1.5s infinite;
}

@keyframes sparkle1 {
  0% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5),
      0 0 10px rgba(0, 255, 0, 0.5),
      0 0 15px rgba(0, 204, 0, 0.5);
  }

  50% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 1),
      0 0 30px rgba(0, 204, 0, 1),
      0 0 40px rgba(0, 204, 0, 0.7);
  }

  100% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5),
      0 0 10px rgba(0, 255, 0, 0.5),
      0 0 15px rgba(0, 204, 0, 0.5);
  }
}

.planets__container {
  display: flex;
  padding: 20px 0;
  border-top: 2px solid white;
}

.planets__container h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.planets__details {
  width: 45%;
  height: 450px;
  margin-left: 30px;
  padding-right: 20px;
}

.planets__details-item {
  color: white;
}


.planets__video {
  flex: 1;
  height: auto;
  width: 100%;
  padding: auto;
}

.planets__video iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}


@media (max-width: 1024px) {
  .planets__menu-item {
    width: 100px;
    height: 100px;
    margin: 15px;
  }

  .planets__container {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .planets__details {
    width: 100%;
    padding: auto;
    height: auto;
  }

  .planets__video {
    height: auto;
    margin: 20px;
  }

  .planets__container h2 {
    font-size: 1.5rem;
  }
}